.fade-enter {
    animation: showPageOnLoad 1s ease-in-out 0s alternate;
}

.fade-enter.fade-enter-active {}

.fade-exit {
    opacity: 0;
    display: none;
}

.fade-exit.fade-exit-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

@keyframes showPageOnLoad {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
