.fade-enter {
    opacity: 0.01;
    transition: all 1000ms ease-in-out;
    transform: translateY(-20px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.fade-enter.fade-enter-active {
    transform: translateY(0);
    opacity: 1;
}

.fade-exit {
    opacity: 0;
    display: none;
}

.fade-exit.fade-exit-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

@keyframes showPageOnLoad {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
