body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

dl {
  -webkit-column-break-inside: avoid;   /* Chrome, Safari */
    page-break-inside: avoid;           /* Theoretically FF 20+ */
    break-inside: avoid-column;         /* IE 11 */
    display:table;                      /* Actually FF 20+ */
} 
