@import url('https://fonts.googleapis.com/css?family=Montserrat:300,600,700');

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  line-height: 1.2;
}

p {
  line-height: 1.6;
}

dl {
  -webkit-column-break-inside: avoid;   /* Chrome, Safari */
    page-break-inside: avoid;           /* Theoretically FF 20+ */
    break-inside: avoid-column;         /* IE 11 */
    display:table;                      /* Actually FF 20+ */
}
